:root {
  --primary_bg: #ffc761;
  --primary_color: #2e8d6b;
  --font-size: 26px;
  --default-font: arial;
}

body, html , ul , li , div , h1 , h2 , h3 , h4 , p , a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}


body {
  background: var(--primary_bg);
  color: var(--primary_color);
  font-size: var(--font-size);
  font-family: var(--default-font);
}
