.contact form {
  background: var(--primary_color);
  width: 600px;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: space-between;
  padding: 0.25em;
  border-radius: 5px;
}

.formGroup {
  display: flex;
  flex-flow: column;
  margin-bottom: 1em;
}

.formGroup label {
  font-size: 0.75em;
  font-style: italic;
  font-weight: 300;
  color: var(--primary_bg);
}

.formGroup textarea {
  min-height: 300px;
  border: none;
  font-size: 1.5em;
  border-radius: 5px;
  background: white;
  padding: 0.5em;
}

.contact form input[type=submit] {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background: var(--primary_bg);
  color: var(--primary_color);
  padding: 0.25em;
  font-size: 1em;
}
