.toolbox {
  padding: 1em;
  display: grid;
  max-width: 980px;
  margin: auto;
  grid-template-columns: 200px 1fr 200px;
}

.email {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 4em;
}

.email .icon {
  font-size: 4em;
}

.email p {
  background: var(--primary_color);
  color: var(--primary_bg);
  text-align: center;
  width: 100%;
}

.messageLink {
  margin-left: 1em;
  background: var(--primary_color);
  color: var(--primary_bg);
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
